In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-read/Data.xlsx

In [6]:
df = pd.read_excel('/kaggle/input/data-read/Data.xlsx')
df

    serial   Salary
0         1    1000
1         2    2000
2         3    3000
3         4    4000
4         5    5000
5         6    6000
6         7    7000
7         8    8000
8         9    9000
9        10   10000
10       11   11000
11       12   12000
12       13   13000
13       14   14000
14       15   15000
15       16   16000
16       17   17000
17       18   18000
18       19   19000
19       20   20000
20       21   21000
21       22   22000
22       23   23000
23       24   24000
24       25   25000
25       26   26000
26       27   27000
27       28   28000
28       29   29000
29       30   30000
30       31   31000
31       32   32000
32       33   33000
33       34   34000
34       35   35000
35       36   36000