In [2]:
import gspread

print(gspread.__version__)

6.2.1

In [3]:
import pandas as pd
import gspread

In [20]:
# firstly my excel file convert into the speedsheet then file path working clearly

gc = gspread.service_account(
    filename=r"C:\Users\Tamim\Downloads\testpurpose-477008-1b3347b474b1.json"
)
gc

In [21]:
# sheet file path paste here 
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1LFHioThZ2Hasf_8w63C7GZdtxvV1j7f6MoA4tLC1OR4/edit?usp=sharing')
sheet

In [24]:
ws = sheet.worksheet('Sheet1')
ws

In [25]:
df = pd.DataFrame(ws.get_all_records())
df

    serial   Salary
0         1    1000
1         2    2000
2         3    3000
3         4    4000
4         5    5000
5         6    6000
6         7    7000
7         8    8000
8         9    9000
9        10   10000
10       11   11000
11       12   12000
12       13   13000
13       14   14000
14       15   15000
15       16   16000
16       17   17000
17       18   18000
18       19   19000
19       20   20000
20       21   21000
21       22   22000
22       23   23000
23       24   24000
24       25   25000
25       26   26000
26       27   27000
27       28   28000
28       29   29000
29       30   30000
30       31   31000
31       32   32000
32       33   33000
33       34   34000
34       35   35000
35       36   36000

In [26]:
ws = sheet.worksheet('Sheet2')
df = pd.DataFrame(ws.get_all_records())
df

    Age  Salary
0     1    1000
1     2    2000
2     3    3000
3     4    4000
4     5    5000
5     6    6000
6     7    7000
7     8    8000
8     9    9000
9    10   10000
10   11   11000
11   12   12000
12   13   13000
13   14   14000
14   15   15000
15   16   16000
16   17   17000
17   18   18000
18   19   19000
19   20   20000
20   21   21000
21   22   22000
22   23   23000
23   24   24000
24   25   25000
25   26   26000
26   27   27000
27   28   28000
28   29   29000
29   30   30000
30   31   31000
31   32   32000
32   33   33000
33   34   34000
34   35   35000
35   36   36000

In [28]:
# pandas basica funciton uses

import pandas as pd

df = pd.read_excel(r"C:\Users\Tamim\OneDrive\Documents\anaconda_projects\db\Data.xlsx")
print(df)

    serial   Salary
0         1    1000
1         2    2000
2         3    3000
3         4    4000
4         5    5000
5         6    6000
6         7    7000
7         8    8000
8         9    9000
9        10   10000
10       11   11000
11       12   12000
12       13   13000
13       14   14000
14       15   15000
15       16   16000
16       17   17000
17       18   18000
18       19   19000
19       20   20000
20       21   21000
21       22   22000
22       23   23000
23       24   24000
24       25   25000
25       26   26000
26       27   27000
27       28   28000
28       29   29000
29       30   30000
30       31   31000
31       32   32000
32       33   33000
33       34   34000
34       35   35000
35       36   36000

In [29]:
# how to find data shape means data row and column

df.shape

(36, 2)

In [30]:
row, col = df.shape
row
col

2

In [31]:
row

36

In [32]:
df.head()

   serial   Salary
0        1    1000
1        2    2000
2        3    3000
3        4    4000
4        5    5000

In [34]:
# how to find top nth row
df.head(20)

    serial   Salary
0         1    1000
1         2    2000
2         3    3000
3         4    4000
4         5    5000
5         6    6000
6         7    7000
7         8    8000
8         9    9000
9        10   10000
10       11   11000
11       12   12000
12       13   13000
13       14   14000
14       15   15000
15       16   16000
16       17   17000
17       18   18000
18       19   19000
19       20   20000

In [35]:
# last nth rows

df.tail()

    serial   Salary
31       32   32000
32       33   33000
33       34   34000
34       35   35000
35       36   36000

In [39]:
# find specific column value
df.Salary

0      1000
1      2000
2      3000
3      4000
4      5000
5      6000
6      7000
7      8000
8      9000
9     10000
10    11000
11    12000
12    13000
13    14000
14    15000
15    16000
16    17000
17    18000
18    19000
19    20000
20    21000
21    22000
22    23000
23    24000
24    25000
25    26000
26    27000
27    28000
28    29000
29    30000
30    31000
31    32000
32    33000
33    34000
34    35000
35    36000
Name: Salary, dtype: int64

In [41]:
# jodi multipel key word thake same word a tahole ar use kora jabe na ai vabe

df['Salary']

0      1000
1      2000
2      3000
3      4000
4      5000
5      6000
6      7000
7      8000
8      9000
9     10000
10    11000
11    12000
12    13000
13    14000
14    15000
15    16000
16    17000
17    18000
18    19000
19    20000
20    21000
21    22000
22    23000
23    24000
24    25000
25    26000
26    27000
27    28000
28    29000
29    30000
30    31000
31    32000
32    33000
33    34000
34    35000
35    36000
Name: Salary, dtype: int64

In [42]:
df.columns

Index(['serial ', 'Salary'], dtype='object')

In [45]:
# 2d style a kaj kortece akta column ke

df[['Salary']].head()

   Salary
0    1000
1    2000
2    3000
3    4000
4    5000

In [50]:
type(df['Salary'])

pandas.core.series.Series

In [51]:
type(df[['Salary', 'Salary']])

pandas.core.frame.DataFrame

In [56]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [57]:
# akta column ar max value kivabe ber kore

df['Total Screen Time '].max()

198

In [58]:
# akta column ar min value kivabe ber kore 

df['Total Screen Time '].min()

52

In [59]:
# akta column ar kivabe average value ber kore

df['Total Screen Time '].mean()

np.float64(113.25)

In [60]:
# std mane holo :- standard deviation mane holo ai gula average theke kotota kace or dure ace value gula
df['Total Screen Time '].std()

43.562322320164775

In [61]:
# maximum kon value ta aita ber korar jonno amra mode use kori

df['Entertainment'].mode()

0    0
Name: Entertainment, dtype: int64

In [62]:
df['Entertainment'].value_counts()

Entertainment
0     20
1      4
3      2
32     1
9      1
Name: count, dtype: int64

In [63]:
# 25% modde max value
df['Total Screen Time '].quantile(0.25)

np.float64(83.5)

In [64]:
# 75% modde max value
df['Total Screen Time '].quantile(0.75)

np.float64(137.25)

In [65]:
# 100% modde max value
df['Total Screen Time '].quantile(1)

np.float64(198.0)

In [66]:
# 0% modde max value hoye jabe min value
df['Total Screen Time '].quantile(0)

np.float64(52.0)

In [68]:
df.describe()

,index,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,13.500000,113.250000,60.714286,8.714286,14.821429,9.071429,1.285714,1.821429,0.214286,0.571429
std,8.225975,43.562322,22.853571,9.340700,13.754605,6.097532,3.952094,6.188721,0.568112,0.503953
min,0.000000,52.000000,25.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,6.750000,83.500000,41.750000,2.000000,4.750000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,13.500000,111.000000,58.000000,5.000000,9.000000,8.000000,0.000000,0.000000,0.000000,1.000000
75%,20.250000,137.250000,76.500000,13.500000,21.500000,15.000000,0.000000,1.000000,0.000000,1.000000
max,27.000000,198.000000,109.000000,40.000000,43.000000,22.000000,15.000000,32.000000,2.000000,1.000000

In [69]:
df['Social Networking'].sort_values()

8      25
25     28
17     34
4      35
26     37
13     40
27     41
11     42
22     42
12     46
24     49
2      52
21     53
6      56
15     60
16     64
5      68
3      69
20     70
10     75
9      76
1      78
19     81
0      89
14     90
23     93
7      98
18    109
Name: Social Networking, dtype: int64

In [71]:
df['Social Networking'].sort_values(ascending= False)

18    109
7      98
23     93
14     90
0      89
19     81
1      78
9      76
10     75
20     70
3      69
5      68
16     64
15     60
6      56
21     53
2      52
24     49
12     46
11     42
22     42
27     41
13     40
26     37
4      35
17     34
25     28
8      25
Name: Social Networking, dtype: int64

In [72]:
# nth largest column jodi ami dekhte cai tahoole akta specific column base kore 

df.nlargest(10, 'Social Networking')

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
20,20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1

In [73]:
# nth smallest column jodi ami dekhte cai tahoole akta specific column base kore 

df.nsmallest(10, 'Social Networking')

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [3]:
# condition check, if social networking is grater than 70 they will show my machine and show is ture if these value exist otherwise show false
df['Social Networking'] >70

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9      True
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
Name: Social Networking, dtype: bool

In [4]:
# same condition ai vabe dile direct table show korbe 
df[df['Social Networking'] >70]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1

In [7]:
# others condition check korte pari

df[df['Week Day']== 'Thursday']

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
15,15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1

In [8]:
df.shape

(28, 12)

In [11]:
# check multiple column,, if these condition is matched then these row show the table

df[(df['Week Day']== 'Thursday') | (df['Week Day']== 'Monday')]
df[(df['Week Day'] == 'Thursday') |  (df['Week Day'] ==  'Monday')]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
5,5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
15,15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1

In [14]:
df[(['Week Day'] == 'Wednesday') & (df['Social Networking'] == 89)]

Empty DataFrame
Columns: [index, Date, Week Day, Total Screen Time , Social Networking, Reading and Reference, Other, Productivity, Health and Fitness, Entertainment, Creativity, Yoga]
Index: []

In [15]:
# subsetting using isin()

df[df['Week Day'].isin(['Wednesday', 'Sunday'])]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
21,21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1

In [17]:
df[df['Week Day'].isin(['Wedndesday', 'Sunday'])]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1

In [18]:
# please show the rows in the dataframe where 'week day' is equal to 'wednesday' and 'entertainment' is equal to 0.

df[(df['Week Day']=='Wednesday') & (df['Entertainment'] == 0)]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
21,21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1

In [25]:
# please show the index name in the dataframe where Productivity is greater than 15

df['Week Day'][df['Productivity']>15]

0     Wednesday
7     Wednesday
8      Thursday
22     Thursday
23       Friday
Name: Week Day, dtype: object

In [26]:
# please show the week day names in the dataframe where productivity is greater than 15

df['Week Day'][df['Productivity']>15]

0     Wednesday
7     Wednesday
8      Thursday
22     Thursday
23       Friday
Name: Week Day, dtype: object

In [28]:
# show the rows with minimum produtivity


df[df['Productivity'] == df['Productivity'].min()]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1

In [30]:
df[df['Productivity'] == df['Productivity'].min()]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1

In [31]:
# show the rows with maximum 'total screen time'

df[df['Total Screen Time '] == df['Total Screen Time '].max()]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0

In [36]:
# please shwo the index name, week day and social networking in the dataframe where 'Productivity' is greater than 15

df[['index', 'Week Day', 'Social Networking']] [df['Productivity']>15]

    index   Week Day  Social Networking
0       0  Wednesday                 89
7       7  Wednesday                 98
8       8   Thursday                 25
22     22   Thursday                 42
23     23     Friday                 93

In [37]:
# data filtering korar korar jonno loc and iloc use kora hoy
# loc -> working with 'Index value' it also can be string
# iloc -> working with 'Index position'

# first index row ta show kortece
df.loc[0]

index                            0
Date                      04/17/19
Week Day                 Wednesday
Total Screen Time              187
Social Networking               89
Reading and Reference           17
Other                           41
Productivity                    22
Health and Fitness               0
Entertainment                    0
Creativity                       0
Yoga                             0
Name: 0, dtype: object

In [39]:
# index value niye kaj korate 0 theke 3 projnto print kortece 
df.loc[0:3]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0

In [40]:
# jehetu iloc index     position niye kaj kore  tai 0 theke 2  projnto print kortece, reason holo amra jai index starting pos is 0 tai aita mention kore je 0 theke 2 projnto properly show kortece 
df.iloc[0:3]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0

In [42]:
# create a dictionary with mixed data types

data = {
'Name' : ['Tamim', 'Hannan', 'Mannan'],
'Age' : [20, 30, 40],
'Occupation' : ['Data Scientist', 'Software Engineer', 'Teacher'], 
'Salary' : [8000, 5000, 4000]
}

df2 = pd.DataFrame(data)
df2.head()

     Name  Age         Occupation  Salary
0   Tamim   20     Data Scientist    8000
1  Hannan   30  Software Engineer    5000
2  Mannan   40            Teacher    4000

In [43]:
# name diye index change kore kivabe dekho

df2.set_index('Name')

        Age         Occupation  Salary
Name
Tamim    20     Data Scientist    8000
Hannan   30  Software Engineer    5000
Mannan   40            Teacher    4000

In [45]:
df2.set_index('Name',inplace= True)

In [47]:
df2.set_index('Age', inplace= True)

In [48]:
df2

            Occupation  Salary
Age
20      Data Scientist    8000
30   Software Engineer    5000
40             Teacher    4000

In [53]:
df2.loc[40]

Occupation    Teacher
Salary           4000
Name: 40, dtype: object

In [54]:
# Delete columns using 'del' statement

del df['index']

In [55]:
df.head()

,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [57]:
# Delete column using pop method 

df.pop('Date')

0     04/17/19
1     04/18/19
2     04/19/19
3     04/20/19
4     04/21/19
5     04/22/19
6     04/23/19
7     04/24/19
8     04/25/19
9     04/26/19
10    04/27/19
11    04/28/19
12    04/29/19
13    04/30/19
14    05/01/19
15    05/02/19
16    05/03/19
17    05/04/19
18    05/05/19
19    05/06/19
20    05/07/19
21    05/08/19
22    05/09/19
23    05/10/19
24    05/11/19
25    05/12/19
26    05/13/19
27    05/14/19
Name: Date, dtype: object

In [58]:
df.head()

,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,Wednesday,187,89,17,41,22,0,0,0,0
1,Thursday,123,78,17,8,9,0,0,0,0
2,Friday,112,52,40,8,4,0,3,0,0
3,Saturday,101,69,9,38,2,0,3,0,0
4,Sunday,56,35,2,43,3,0,1,1,0

In [59]:
# Delete Columns using loc and iloc method

df = df.loc[[1,2,3,4], ['Total Screen Time ', 'Social Networking', 'Reading and Reference', 'Productivity']]

df.head()

   Total Screen Time   Social Networking  Reading and Reference  Productivity
1                 123                 78                     17             9
2                 112                 52                     40             4
3                 101                 69                      9             2
4                  56                 35                      2             3

In [60]:
df = df.iloc[:, [0,1]]
df

   Total Screen Time   Social Networking
1                 123                 78
2                 112                 52
3                 101                 69
4                  56                 35

In [61]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [63]:
# Delete columns using drop method
# sobceye besi aita use hoy

df.drop('index', axis = 1, inplace = True)

In [64]:
df

,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0
7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
16,05/03/19,Friday,91,64,2,18,5,1,1,2,1
17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1
21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [65]:
df.drop(columns = ['Week Day'])

,Date,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,187,89,17,41,22,0,0,0,0
1,04/18/19,123,78,17,8,9,0,0,0,0
2,04/19/19,112,52,40,8,4,0,3,0,0
3,04/20/19,101,69,9,38,2,0,3,0,0
4,04/21/19,56,35,2,43,3,0,1,1,0
5,04/22/19,189,68,0,9,3,4,0,0,0
6,04/23/19,158,56,18,41,12,15,0,0,0
7,04/24/19,135,98,3,33,16,0,0,0,0
8,04/25/19,52,25,7,3,16,0,0,0,0
9,04/26/19,198,76,8,29,15,0,32,0,0
10,04/27/19,116,75,10,20,5,0,0,0,0
11,04/28/19,85,42,22,4,2,0,0,0,0
12,04/29/19,109,46,8,13,9,15,1,0,1
13,04/30/19,79,40,2,9,12,0,0,0,1
14,05/01/19,127,90,0,10,7,0,0,0,1
15,05/02/19,170,60,3,2,11,0,0,0,1
16,05/03/19,91,64,2,18,5,1,1,2,1
17,05/04/19,58,34,4,5,3,0,1,0,1
18,05/05/19,133,109,5,1,3,0,0,0,1
19,05/06/19,144,81,4,5,3,0,0,0,1
20,05/07/19,110,70,5,6,15,0,9,0,1
21,05/08/19,122,53,25,26,15,0,0,0,1
22,05/09/19,96,42,15,16,19,0,0,0,1
23,05/10/19,161,93,13,17,16,1,0,0,1
24,05/11/19,58,49,1,2,2,0,0,2,1
25,05/12/19,52,28,1,1,6,0,0,1,1
26,05/13/19,61,37,1,0,4,0,0,0,1
27,05/14/19,88,41,2,7,15,0,0,0,1

In [67]:
df.head()

,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [70]:
df.drop(columns = ['Week Day', 'Social Networking'])

,Date,Total Screen Time,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,187,17,41,22,0,0,0,0
1,04/18/19,123,17,8,9,0,0,0,0
2,04/19/19,112,40,8,4,0,3,0,0
3,04/20/19,101,9,38,2,0,3,0,0
4,04/21/19,56,2,43,3,0,1,1,0
5,04/22/19,189,0,9,3,4,0,0,0
6,04/23/19,158,18,41,12,15,0,0,0
7,04/24/19,135,3,33,16,0,0,0,0
8,04/25/19,52,7,3,16,0,0,0,0
9,04/26/19,198,8,29,15,0,32,0,0
10,04/27/19,116,10,20,5,0,0,0,0
11,04/28/19,85,22,4,2,0,0,0,0
12,04/29/19,109,8,13,9,15,1,0,1
13,04/30/19,79,2,9,12,0,0,0,1
14,05/01/19,127,0,10,7,0,0,0,1
15,05/02/19,170,3,2,11,0,0,0,1
16,05/03/19,91,2,18,5,1,1,2,1
17,05/04/19,58,4,5,3,0,1,0,1
18,05/05/19,133,5,1,3,0,0,0,1
19,05/06/19,144,4,5,3,0,0,0,1
20,05/07/19,110,5,6,15,0,9,0,1
21,05/08/19,122,25,26,15,0,0,0,1
22,05/09/19,96,15,16,19,0,0,0,1
23,05/10/19,161,13,17,16,1,0,0,1
24,05/11/19,58,1,2,2,0,0,2,1
25,05/12/19,52,1,1,6,0,0,1,1
26,05/13/19,61,1,0,4,0,0,0,1
27,05/14/19,88,2,7,15,0,0,0,1

In [69]:
df.head()

,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [71]:
df.drop(columns = ['Week Day', 'Social Networking'])

,Date,Total Screen Time,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,187,17,41,22,0,0,0,0
1,04/18/19,123,17,8,9,0,0,0,0
2,04/19/19,112,40,8,4,0,3,0,0
3,04/20/19,101,9,38,2,0,3,0,0
4,04/21/19,56,2,43,3,0,1,1,0
5,04/22/19,189,0,9,3,4,0,0,0
6,04/23/19,158,18,41,12,15,0,0,0
7,04/24/19,135,3,33,16,0,0,0,0
8,04/25/19,52,7,3,16,0,0,0,0
9,04/26/19,198,8,29,15,0,32,0,0
10,04/27/19,116,10,20,5,0,0,0,0
11,04/28/19,85,22,4,2,0,0,0,0
12,04/29/19,109,8,13,9,15,1,0,1
13,04/30/19,79,2,9,12,0,0,0,1
14,05/01/19,127,0,10,7,0,0,0,1
15,05/02/19,170,3,2,11,0,0,0,1
16,05/03/19,91,2,18,5,1,1,2,1
17,05/04/19,58,4,5,3,0,1,0,1
18,05/05/19,133,5,1,3,0,0,0,1
19,05/06/19,144,4,5,3,0,0,0,1
20,05/07/19,110,5,6,15,0,9,0,1
21,05/08/19,122,25,26,15,0,0,0,1
22,05/09/19,96,15,16,19,0,0,0,1
23,05/10/19,161,13,17,16,1,0,0,1
24,05/11/19,58,1,2,2,0,0,2,1
25,05/12/19,52,1,1,6,0,0,1,1
26,05/13/19,61,1,0,4,0,0,0,1
27,05/14/19,88,2,7,15,0,0,0,1

In [72]:
df

,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0
7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
16,05/03/19,Friday,91,64,2,18,5,1,1,2,1
17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1
21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [73]:
df.drop(columns = ['Week Day', 'Social Networking'], inplace = True )

In [74]:
df.head()

,Date,Total Screen Time,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,04/17/19,187,17,41,22,0,0,0,0
1,04/18/19,123,17,8,9,0,0,0,0
2,04/19/19,112,40,8,4,0,3,0,0
3,04/20/19,101,9,38,2,0,3,0,0
4,04/21/19,56,2,43,3,0,1,1,0

In [77]:
# jodi amra x-axis or y-axis find korte cai tahole amra ai vabe use korte pari

x = df.drop('Yoga', axis = 1)

# x ar modde yoga bade onno sob cole asce
x

,Date,Total Screen Time,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity
0,04/17/19,187,17,41,22,0,0,0
1,04/18/19,123,17,8,9,0,0,0
2,04/19/19,112,40,8,4,0,3,0
3,04/20/19,101,9,38,2,0,3,0
4,04/21/19,56,2,43,3,0,1,1
5,04/22/19,189,0,9,3,4,0,0
6,04/23/19,158,18,41,12,15,0,0
7,04/24/19,135,3,33,16,0,0,0
8,04/25/19,52,7,3,16,0,0,0
9,04/26/19,198,8,29,15,0,32,0
10,04/27/19,116,10,20,5,0,0,0
11,04/28/19,85,22,4,2,0,0,0
12,04/29/19,109,8,13,9,15,1,0
13,04/30/19,79,2,9,12,0,0,0
14,05/01/19,127,0,10,7,0,0,0
15,05/02/19,170,3,2,11,0,0,0
16,05/03/19,91,2,18,5,1,1,2
17,05/04/19,58,4,5,3,0,1,0
18,05/05/19,133,5,1,3,0,0,0
19,05/06/19,144,4,5,3,0,0,0
20,05/07/19,110,5,6,15,0,9,0
21,05/08/19,122,25,26,15,0,0,0
22,05/09/19,96,15,16,19,0,0,0
23,05/10/19,161,13,17,16,1,0,0
24,05/11/19,58,1,2,2,0,0,2
25,05/12/19,52,1,1,6,0,0,1
26,05/13/19,61,1,0,4,0,0,0
27,05/14/19,88,2,7,15,0,0,0

In [78]:
y = df[['Yoga']]

    Yoga
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [9]:
# drop the rows in pandas
# kivabe index diye row deleted kora jay
df.drop([0,1,3])
# default axis thake 0, seta holo row
# first 5 ta row kivabe delete kore or last ai row gula delete kore 
df.drop(df.index[:5])
df.drop(df.index[10:])

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
15,15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
16,16,05/03/19,Friday,91,64,2,18,5,1,1,2,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
20,20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1
21,21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [18]:
# condition base row deleted

df = df[df['Social Networking']<100]
df

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1

In [19]:
df

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1

In [21]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
5,5,04/22/19,Monday,189,68,0,9,3,4,0,0,0
6,6,04/23/19,Tuesday,158,56,18,41,12,15,0,0,0
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
15,15,05/02/19,Thursday,170,60,3,2,11,0,0,0,1
16,16,05/03/19,Friday,91,64,2,18,5,1,1,2,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
20,20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1
21,21,05/08/19,Wednesday,122,53,25,26,15,0,0,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [23]:
df = df[df['Social Networking']<50]
df

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1

In [ ]:
# how to rename a column and concate dataframe

df1 = pd.DataFrame({'AGE' : [16, 20], 'INCOME' : [3000, 4000]})
df2 = pd.DataFrame({'AGE' : [25, 30], 'INCOME' : [7000, 3000]})
df1

In [25]:
df2

   AGE  INCOME
0   25    7000
1   30    3000

In [26]:
df1 = df1.rename(columns={'AGE' : 'age', 'INCOME' : 'income'})
df1

   age  income
0   16    3000
1   20    4000

In [27]:
df2 = df2.rename(columns={'AGE' : 'age', 'INCOME' : 'income'})
df2

   age  income
0   25    7000
1   30    3000

In [29]:
# if i have declear axis is 1 that is show column shape, if i have declear axis=0 that is show row shape, it is default is 0
res = pd.concat([df1,df2], axis=1)
res

   age  income  age  income
0   16    3000   25    7000
1   20    4000   30    3000